body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.first-section {
    display: flex;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.first-div {
    width: 50%;
    padding-left: 5%;
}

.seconed-div {

    width: 50%;
}

.seconed-div img {
    margin-left: 30px;
    width: 80%;
}

.hire-button {
    background: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.dream-section {
    display: flex;
    margin-bottom: 50px;
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.dream-image {
    width: 50%;
}

.dream-data {
    width: 50%;
}

.resume-button {
    text-decoration: none;
    color: white;
    background: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5%;
    text-transform: uppercase;
}

.dream-image img {
    width: 80%;
}

.flexible-container {
    display: flex;
}

.experience-area {
    margin-bottom: 100px;
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}


.left-border {
    border-left: 7px solid tomato;
}

.right-border {
    border-left: 7px solid blue;
}

.expec-sec {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 80px 30px;
}